* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-image: url(../images/flowers.jpg);
	background-size: cover;
}
.controls {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	padding: 2vmin;
	label {
		text-align: center;
	}

	input {
		display: flex;
	}
}
.wrap {
	position: relative;
	min-height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;
}

.wrap > * {
	grid-column: 1;
	grid-row: 1;
}

.face {
	position: absolute;
}
